@import url(./variable.css);

.banner_image_contact {
    background: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_contact {
    background-image: url(../img/homepage/bg_contact.svg);
    background-size: cover;
    background-position: center;
}

#contactForm input,
#contactForm textarea {
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ffffff40;    color: white;
    background: linear-gradient(130deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(4px);
    font-size: 1.2em;
    padding-left: 20px;
    margin-bottom: 40px;
}

.contact-wrap {
    padding-top: 0;
}


#contactForm input::placeholder,
#contactForm textarea::placeholder {
    color: rgb(231, 231, 231);
}

#contactForm textarea {
    height: 150px;
}

#contactForm .btn-primary {
    padding: 12px 40px;
    color: var(--dark-blue);
    background-color: white;
    font-weight: 600;
    text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
    #contactForm input, #contactForm textarea {
        height: 48px;
        font-size: 1em;
        margin: auto;
        width: 80%;
    }

    #contactForm .btn-primary {
        height: 40px;
        margin: auto;
        padding: 8px 24px;
    }

    .center_mobile {
        display: flex;
        justify-content: center;
    }

    #contactForm input, #contactForm textarea {
        margin-bottom: 12px;
    }
}