.section_download_app {
    height: 320px;
    width: 100%;
    background: url(../img/banner_child_page/banner_download.svg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.download_app_box_mar p {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}

.download_app_box_qr {
    display: flex;
}

.download_app_box_qr img {
    margin: 0 40px;
    width: 100%;
}

.box_logo_app {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.box_logo_tmas {
    justify-content: center;
    margin-bottom: 20px;
}

.center_vertical {
    margin-top: 24px;
}

.dowload_text {
    font-family: 'sloganfont';
    color: white;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 1.2em;
}

.download_app_box_mar p {
    font-family: 'sloganfont';
    color: white;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 2em;
}

.download_app_box_mar {
    margin-left: 40px;
}


@media only screen and (max-width: 480px) {
    .box_logo_app {
        width: 60px;
        height: 60px;
    }

    .section_download_app {
        height: unset;
    }
}