.select_box_find_car {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    font-size: 1.2em;
    font-weight: 500;
    padding: 8px 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select_box_find_car:focus {
    border-color: var(--blue-logo);
}

.btn_find {
    padding: 12px 24px;
    border: 1px solid var(--blue-logo);
    background-color: white;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--blue-logo);
    border: none;
}

.btn_find:focus {
    border-color: var(--blue-logo);
}
.section_search_car_product {
    padding: 100px 0 60px 0;
    background: url('../img/homepage/banner/background-slogan.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
}

#modal_result_label {
    font-weight: 500;
    color: var(--blue-logo);
}

.name_product {
    text-transform: uppercase;
    color: var(--dark-blue);
    height: 3em;
    overflow: hidden;
}

.price.active, .warranty.active {
    display: block;
}

.name_product p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.detail_product_price .price {
    font-size: 2em;
    font-weight: 700;
}

.label {
    font-size: 1em;
    font-weight: 500;
    margin-right: 12px;
}

.title_product {
    text-transform: uppercase;
}


.image_box {
    width: 100%;
    height: 270px;
}

.image_box img {
    height: 100%;
    object-fit: cover;
}

.card_product {
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    transition: .3s;
}

.card_product:hover {
    margin-top: -5px;
}

.product_content {
    padding: 20px;
}

.name_product {
    font-weight: 500;
    color: var(--dark-blue);
}

.price {
    font-size: 1.2em;
    color: var(--dark-blue);
}

.container_slide {
    width: 100vw;
    height: 100vh;
}

.container_slide .container, .container_slide .row {
    height: 100%;
}