.banner_image_warranty {
    background: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_warranly {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.menu_warranly a {
    display: block;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
}

.title_content h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
}

.step {
    font-size: 1.2em;
    font-weight: 500;
}

.warranly_active_col {
    padding-left: 40px;
}

.qr_img {
    width: 100%;
    height: auto;
}

.box_warranly {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.img_guide {
    width: 50%;
}

@media only screen and (max-width: 1024px) {
    .warranly_active_col {
        padding-left: 15px;
    }

    .img_guide {
        width: 100%;
    }
}