.fp-is-overflow .fp-overflow.fp-auto-height, .fp-is-overflow .fp-overflow.fp-auto-height-responsive, .fp-is-overflow>.fp-overflow {
    /* overflow-y: hidden!important; */
}

section {
    width: 100vw;
    height: 100vh;
}

.section_banner {
    background: linear-gradient(180deg, #0d2a4d 0%, #104697 100%), #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.container_absolute {
    position: absolute;
    top: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 1;
}

.content_banner_left {
    padding: 45% 0;
    height: 100vh;
}

.content_banner_right {
    padding: 35% 0;
    height: 100vh;
}

.box_title_banner {
    height: 84px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.box_title_banner p {
    position: absolute;
    top: 100%
}

.box_description_banner {
    height: 54px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.box_description_banner p {
    position: absolute;
    top: 100%
}

.box_view_image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.box_view_image img {
    position: absolute;
    top: 100%;
}

.title_banner {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.description_banner {
    font-size: 36px;
    font-weight: 500;
    color: white;
}

#banner_slide_search_product {
    background: url('./../img/homepage/banner/background-slogan.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
}

.top_banner {
    width: 100vw;
    height: calc(100vh - 120px);
}

.banner_homepage {
    width: 100%;
    height: 100%;
}

.section_banner .fp-slides {
    width: 100%;
}

.banner_box_slide {
    position: relative;
    width: 60%;
    background-color: #f5f5f5;
    overflow: hidden;
}

.banner_box_slogan_text {
    margin-top: -120px;
    width: 80%;
    color: white;
    text-transform: uppercase;
}

.banner_box_slogan_text h2 {
    font-family: 'sloganfont';
    letter-spacing: 4px;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
}

.item_slide_banner {
    width: 100%;
    height: 100%;
}

.item_slide_banner img {
    height: 100%;
    object-fit: cover;
}

.branch_car {
    width: 100vw;
    background-color: #333;
    height: 120px;
    display: flex;
    padding: 20px 0;
}

.news_auto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(4px);
}

/*about us*/

.card_title {
    display: flex;
    justify-content: space-between;
}

.card_about .number_count {
    font-size: 5em;
}

.card_about {
    padding: 40px;
    border-radius: 16px;
    color: white;
    margin: auto;
    transition: .5s;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    background-color: #ffffff42;
    backdrop-filter: blur(16px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border: 1px solid #ffffff50;
}


.section_about_us {
    background: url(../img/homepage/bg_aboutus.jpg);
    background-size: cover;
    width: 100%;
    background-position: center;
}

.card_image {
    width: 100px;
    height: 100px;
}

/* product */
.section.section_type_product .container {
    max-width: 1320px;
}

.card_cat {
    border: 1px solid lightgray;
    background-color: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    margin-bottom: 20px;
    height: calc((100vh - 280px)/ 3);
    padding: 40px;
}

.card_cat p {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

.section_type_product {
    background-color: var(--dark-blue);
}


.section_type_product {
    background-image: url('../img/product_view/background.svg');
    background-size: cover;
}

/* post */

.section_news {
    background-color: #f5f5f5;
}

.feature_news {
    height: calc(100vh - 160px);
    border-right: 1px solid lightgray;
    padding-right: 60px;
}

.image_new {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    height: calc(100vh - 415px);
    min-height: calc(100vh - 415px);
    position: relative;
}

.image_new img {
    object-fit: cover;
}

.feature_type {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 8px 12px;
    color: var(--dark-blue);
    border-radius: 8px;
    font-weight: 500;
}

.title_new_page {
    text-transform: uppercase;
}

.link_new h2 {
    font-family: 'Montserrat';
    font-size: 1.5em;
    font-weight: 600;
    color: var(--dark-blue);
}

.des_new p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card_new_sm .link_new h2 {
    font-size: 1.2em;
}

.card_new_sm .des_new p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.list_new {
    padding-left: 60px;
    margin-top: 8px;
}


.type_new span {
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
}

.time_publish {
    color: var(--grey-1);
}

.card_new_sm {
    margin-bottom: 40px;
}

.section_contact, .section_qa {
    background-color: var(--dark-blue);
}

.section_qa {
    background-image: url('../img/homepage/bg_qa.svg');
    background-size: cover;
    background-position: center;
}


body .onepage-pagination {
    top: calc(50% - 120px);
}

.section_contact {
    background-image: url('../img/homepage/bg_contact.svg');
    background-size: cover;
    background-position: center;
}

.section_partner {
    background-image: url('../img/partners/bg_partner.svg');
    background-size: cover;
    background-position: center;
}

.partner_image {
    height: 300px;
    display: flex;
    align-items: center;
}

.slick_partner {
    margin-top: 80px;
}

.box_img_qa {
    height: calc(100vh - 360px);
    border-radius: 8px;
    overflow: hidden;
}

.box_img_qa {
    object-fit: cover;
}

.border_qa {
    border: 2px solid white;
    padding: 16px 24px;
    border-radius: 8px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;

}

.card_qa {
    cursor: pointer;
}

.answer {
    display: none;
    padding: 16px 24px;
    border-radius: 8px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    background-color: var(--dark-blue);
}

.news_auto {
    display: flex;
    align-items: center;
}

#auto_load {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#auto_load a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: justify;
    cursor: pointer;
    color: white;
    padding: 0 40px;
    text-align: end;
}

#auto_load .box_img_auto {
    height: 100%;
    width: 240px;
}

#auto_load .box_img_auto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cat_id.active {
    background-color: white;
    color: var(--dark-blue);
}


#box_list_product::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    background-color: transparent;
    border-radius: 10px;
}

#box_list_product::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    background-color: transparent;
    box-shadow: none;
    height: 4px !important;
    border-radius: 2px !important;
    /* margin-bottom: 4px; */
}

#box_list_product::-webkit-scrollbar {
    width: 10px;
    height: 4px !important;
    border-radius: 2px !important;
    background-color: transparent;
}

#box_list_product::-webkit-scrollbar-thumb {
    background: #ffffff3d !important;
    height: 4px !important;
    border-radius: 2px !important;
}


.image_box {
    width: 100%;
    height: 120px;
}

.image_box img {
    height: 100%;
    object-fit: cover;
}

.card_product {
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.274);
    backdrop-filter: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    transition: .3s;
    backdrop-filter: blur(4px);
}

#banner_slide_find_product_by_model {
    background: url('./../img/homepage/banner/promotion.png');
    background-size: cover;
    width: 100%;
    background-position: center;
}

.banner_homepage a {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

#banner_slide_launcher {
    background: url('./../img/homepage/banner/signature.png');
    background-size: cover;
    width: 100%;
    background-position: center;
}

.slide_launcher {
    margin-top: 120px;
}

.slide_launcher .box_title_banner {
    display: flex;
    justify-content: center;

}


@media only screen and (max-width: 1600px) {
    .content_banner_right {
        padding: 30% 0;
    }

    .card_about {
        padding: 20px;
    }

    .card_image {
        width: 60px;
        height: 60px;
    }

    .card_square_product {
        padding: 12px 16px;
    }


}

@media only screen and (max-width: 1024px) {
    #banner_slide_find_product_by_model {
        background: url('./../img/homepage/banner/promotion_m.png');
        background-position: center;
        background-size: cover;
    }


    #banner_slide_launcher {
        background: url('./../img/homepage/banner/signature_m.png');
        background-position: center;
        background-size: cover;
    }

    .card_new_sm .des_new p {
        -webkit-line-clamp: 2;
    }

    .section_banner h2 {
        font-size: 2em;
    }

    .banner_box_slogan {
        display: none;
    }

    .banner_box_slide {
        width: 100%;
    }

    .card_about b {
        font-size: 2em;
    }

    .card_image {
        width: 40px;
        height: 40px;
    }

    .item_category {
        padding: 8px 12px;
        font-size: 1em;
    }

    .list_new {
        padding-left: 20px
    }

    .feature_news {
        padding-right: 20px;
    }
}


@media only screen and (max-width: 480px) {

    .card_about {
        padding: 12px;
        margin-bottom: 8px;
    }

    .card_about h3 {
        font-size: 1em;
        font-weight: 500;
    }

    .card_about .number_count {
        font-size: 1em;
    }

    .content_banner_left {
        padding: 30% 0;
        height: 50vh;
    }

    .content_banner_right {
        padding: 5% 0;
        height: 50vh;
    }

    .title_banner {
        font-size: 2em;
    }

    .title_banner, .description_banner {
        text-align: center;
        width: 100%;
    }

    .box_title_banner {
        margin-bottom: 32px;
    }

    .description_banner {
        font-size: 1em;
    }

    .onepage-pagination {
        display: none;
    }

    #auto_load a {
        padding: 0 10px;
        -webkit-line-clamp: 2;
        text-align: start;
    }

    .item_category {
        font-size: .8em;
    }

    .image_new {
        height: 200px;
        min-height: 200px;
    }

    .feature_news {
        height: auto;
    }

    .link_new a {
        font-size: 1em;
    }

    .des_new p {
        font-size: .8em;
    }

    .card_new_sm {
        margin-bottom: 20px;
    }

    .type_new span {
        font-size: .8em;
    }

    .list_new {
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    .feature_news {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .card_new_sm .des_new p {
        display: none;
    }

    .box_img_qa {
        display: none;
    }

    .border_qa {
        font-size: 1em;
        padding: 8px 12px;
    }

    .feature_news {
        border: unset;
    }
}