.intro_image {
    width: 100%;
}

.section_intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_view_image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_view_image img {
    position: absolute;
    top: 100%;
}

.flex_box {
    display: flex;
    justify-content: space-between;
    margin: 40px 5% 0 5%;
    overflow: hidden;
    height: 60%;
    width: 100%;
}

.card_mission {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    width: 30%;
    height: auto;
    padding: 40px;
    margin-top: 100%;
}

.icon_card {
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid var(--dark-blue);
    /* box-shadow: 0px -4px 12px rgba(255, 255, 255, 0.18), 0px 4px 12px rgba(0, 0, 0, 0.12); */
    margin-bottom: 40px;
}

.icon_card img {
    width: 100%;
}

.title_card {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: var(--dark-blue);
    font-weight: 500;
    text-transform: uppercase;
}

.title_card_bold {
    font-size: 3em;
    color: var(--dark-blue);
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.section_history  {
    background: linear-gradient(97.34deg, #021763 3.78%, #4566BA 98.96%);
    color: white;
}

.section_industry {
    background: linear-gradient(97.34deg, #021763 3.78%, #4566BA 98.96%);
    background-size: cover;
    width: 100%;
    background-position: center;
}

.des_card {
    font-size: 1.2em;
    color: var(--dark-blue);
}

.section_mission {
    background: url('./../img/homepage/bg_contact.svg');
    background-size: cover;
    width: 100%;
    background-position: center;
}

.section_number {
    background: url('./../img/homepage/bg_contact.svg');
    background-size: cover;
    width: 100%;
    background-position: center;
}

.section_achievement {
    background: url('./../img/intro/achievement.jpg');
    background-size: cover;
    width: 100%;
    background-position: bottom;
}

.section_about_us {
    background: url('./../img/intro/teamwork.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    color: white;
}

.section_slogan {
    background: url('./../img/homepage/banner/background-slogan.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
}

.section_achievement {
    position: relative;
}

.box_image_cup {
    overflow: hidden;
    width: 450px;
    margin-top: -45px;
    height: 100%;
}

.title_content h2 {
    font-size: 3em;
    text-transform: uppercase;
}

.title_content p {
    text-align: justify;
}


.box_content {
    display: flex;
    align-items: center;
    color: white;
}

.hanh_trinh {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box_image_cup img {
    width: 100%;
    margin-top: 200%;
}

.box_text {
    position: absolute;
    width: 100vw;
    padding: 20px;
    bottom: 0;
    left: 0;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}


.section_slogan .box_view_image {
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 16%;
}

#thu-ngo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#thu-ngo .title_content h2 {
    font-size: 2em;
    text-align: center;
}

.mess_invite, .quote {
    width: 60%;
    margin: auto;
}

.mess_invite p {
    margin-bottom: 12px;
    font-size: 1.2em;
    text-align: justify;
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content_info {
    width: 60%;
    margin: auto;
}

.content_info h2 {
    font-size: 2em;
    text-align: center;
}

.content_info h3 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    line-height: 1.8em;
}

.content_info p {
    font-size: 1.2em;
}

.content_info ul li {
    list-style-type: circle;
    margin-bottom: 12px;
}

.quote p {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
}

.intro_content img {
    width: 100%;
}

.block_spacing_intro {
    margin-bottom: 80px;
    margin-top: 100px;
}

.intro_text_italic {
    font-style: italic;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 60px;
}

.image_products {
    margin-bottom: 100px;
}

/* .border_intro {
    border: 1px solid var(--grey-1);
} */

.image_teams {
    margin-bottom: 20px;
}

.intro_content {
    border-top: 1px solid var(--blue-logo);
    padding-top: 60px;
}

.intro_text {
    margin-bottom: 40px;
}

.border_intro_inside {
    padding: 40px;
    border: 1px solid var(--grey-1);
    height: 100%;
}

.intro_footer {
    font-size: 1em;
    max-width: 550px;
}

.border_intro_inside h3 {
    color: var(--blue-logo);
}

.border_intro {
    padding: 10px;
}

.border_intro h3 {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .content_info {
        width: 90%;
    }

    .content_info h2, .title_content h2 {
        font-size: 1.5em;
    }

    .content_info h3 {
        font-size: 1.2em;
    }

    .content_info p {
        font-size: .8em;

    }

    .quote p {
        font-size: 0.8em;
    }

    .mess_invite p {
        margin-bottom: 8px;
        font-size: .8em;
    }

    .mess_invite, .quote {
        width: 90%;
    }

    .section_slogan .box_view_image {
        width: 80%;
        height: 30%;
        margin: auto;
        margin-top: 60%;
    }
    .flex_box {
        flex-direction: column;
        height: 90%;
    }
    .card_mission {
        width: 100%;
        height: auto;
        padding: 20px;
        margin-top: 100%;
        margin-bottom: 12px;
    }
    .icon_card {
        width: 40px;
        height: 40px;
        padding: 6px;
        margin-bottom: 8px;
    }
    .title_card {
        font-size: 1em;
        margin-bottom: 8px;
    }
    .des_card {
        font-size: .8em;
    }
    .title_card_bold {
        font-size: 1.5em;
    }
    .box_text {
        font-size: 1.5em;
        top: 40vh;
    }
    .box_image_cup {
        margin-top: 80vh;
        width: 200px;
    }
}