.card_left_bar_related {
    min-height: 240px;
    height: 240px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.left_bar_related_image {
    height: 100%;
}

.left_bar_related_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left_bar_related_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 65%;
    background: linear-gradient(360deg, #0E2D54 0%, rgba(12, 42, 81, 0) 100%);
    padding: 10px;
    transition: .3s;
}

.card_left_bar_related:hover .left_bar_related_content {
    top: 0;
}
.card_left_bar_related:hover .left_bar_related_des {
    top: 50%;
}

.left_bar_related_des {
    margin-right: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 1em;
    text-align: justify;
    color: white;
    transition: .5s;
    position: absolute;
    top: 100%;
}

.left_bar_related_link {
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}