.banner_image_library {
    background: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}