.section_related {
    background-image: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    background-position: center;
}

.related_image {
    min-height: 240px;
    height: 240px;
}

.related_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related_content {
    height: 80px;
    padding: 20px;
}

.related_content a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
