@import url(./variable.css);

.first_news_item_first {
    width: 100%;
}

.section_list_new h3, .section_list_new a {
    font-weight: 600;
    font-size: 1.2em;
}

.news_item_link_first {
    width: 100%;
}

.image_news_box_first {
    width: 100%;
    height: 500px;
}

.image_news_box_first img,
.image_news_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_news_box {
    margin-bottom: 20px;
}

.news_item_box_content_first {
    margin: 20px 0;
}


.news_item {
    margin-bottom: 20px;
}

.first_news_item {
    width: 100%;
}

.news_item_link {
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.image_news_box {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.news_item_title {
    margin-bottom: 10px;

}

.news_item_title h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    font-size: 1.2em;
}

.group_type_new {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding: 0;
}

.group_type_new p {
    display: block;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
    color: var(--blue-logo);
    cursor: pointer;
}

.group_type_new p.active {
    display: block;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #f5f5f5;
    background-color: var(--blue-logo);
    color: white;
}


.news_item_description_first p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 4px 0;
}

.news_item_description p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.title_new {
    margin-bottom: 40px;
}

.banner_image_news {
    background: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
}

.detail_new_box_content {
    width: 100%;
}

.detail_new_box_content img {
    width: 100%;
}

.description_detail_page {
    font-weight: 600;
    margin-bottom: 20px;
}

.image-description {
    padding: 8px 16px;
    border: 1px solid lightgray;
    border-top-color: transparent;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.small_box_type  .title_link_type {
    font-size: .8em;
}

.title_link_type.green_text {
    border: 1px solid var(--green);
    color: var(--green);
}

.title_link_type {
    font-size: 1em;
    padding: 4px 8px;
    border-radius: 8px;
    color: var(--blue-logo);
    cursor: pointer;
    border: 1px solid var(--blue-logo);
    display: inline;
    margin-bottom: 20px;
}

.body_content_detail {
    width: 100%;
}

.body_content_detail img {
    width: 100% !important;
}

/* .pagination {
    text-align: center;
} */

.pagination_box {
    margin: 20px auto;
}
.pagination_box li {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: var(--blue-logo);
    padding: 12px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    box-shadow: 0px 4px 11px -3px rgb(179 179 179 / 75%);
    -webkit-box-shadow: 0px 4px 11px -3px rgb(179 179 179 / 75%);
    -moz-box-shadow: 0px 4px 11px -3px rgb(179 179 179 / 75%);
}

.pagination_box li a {
    padding: 10px;
}


.pagination_box li.active {
    color: var(--grey);
}

.detail_component_new {
    margin-bottom: 20px;
}

.card_card_post_filter_component {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.card_post_filter_content {
    padding: 20px;
    font-weight: 500;
}

.card_card_post_filter_component .image_box {
    height: 320px;
    overflow: hidden;
}

.card_card_post_filter_component .image_box img {
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 480px) {
  
    .news_item_title_first h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .news_item_title_first {
        margin-bottom: 20px;
    }

    .news_item_description_first p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        padding: 4px 0;
    }
}