.banner_image_news {
    background: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
}

.not_found {
    width: 200px;
}
.link_to {
    margin: 60px 80px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: var(--blue-logo);
    color: white;
    text-transform: uppercase;
}

.link_to h2 {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

a:hover {
    color: white;
}

@media only screen and (max-width: 480px) {
    .link_to h2 {
        font-size: 1em;
    }
    .link_to {
        margin: 8px;
        padding: 8px;
    }
}
