.banner_image_product {
    background: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: var(--blue-logo);
    border-radius: 8px;
}

.carousel-indicators [data-bs-target] {
    border-top: 8px solid #295b9d85;
}

.name_product {
    text-transform: uppercase;
    color: var(--dark-blue);
    height: 3em;
    overflow: hidden;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    min-width: 2rem;
}

.detail_product_option .option {
    font-size: 1.2em;
    font-weight: 500;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 8px;
    transition: 0.3s;
    display: block;
    width: fit-content;
    margin: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.detail_product_option {
    flex-wrap: wrap;
}

.detail_product_option .option.active {
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: white;
}

.section_product_detail .price, .section_product_detail .warranty {
    display: none;
    transition: 0.3s;
}

.price.active, .warranty.active {
    display: block;
}

.name_product p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.detail_product_price .price {
    font-size: 2em;
    font-weight: 700;
}

.label {
    font-size: 1em;
    font-weight: 500;
    margin-right: 12px;
}

.flex_item_end {
    align-items: end;
}

.btn_contact {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--blue-logo);
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin-right: 20px;
}

.title_product {
    text-transform: uppercase;
}


.image_box {
    width: 100%;
    height: 270px;
}

.image_box img {
    height: 100%;
    object-fit: cover;
}

.card_product {
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    transition: .3s;
}

.card_product:hover {
    margin-top: -5px;
}

.product_content {
    padding: 20px;
}

.name_product {
    font-weight: 500;
    color: var(--dark-blue);
}

.price {
    font-size: 1.2em;
    color: var(--dark-blue);
}

.box_category {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.box_category .cat_id {
    display: block;
    border-bottom: 1px solid #f5f5f5;
    padding: 12px 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--dark-blue);
    cursor: pointer;
}

.box_category .cat_id.active {
    background-color: var(--blue-logo);
    color: white;
}

.section_description {
    padding: 60px 0;

}

#description_for_cat {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 24px;
    padding: 40px;
}