.section_banner_child_page {
    background: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.breadcrums {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main_image {
    display: block;
    border-radius: 16px;
    width: 100%;
    height: calc(100vh - 330px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    overflow: hidden;
}

.main_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-item {
    overflow: hidden;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin-right: 12px;
    cursor: pointer;
}

.slide-item.active {
    border: 2px solid var(--blue-logo);
}

.item_image {
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    overflow-x: auto;
    overflow-y: hidden;
    height: 100px;
    white-space: nowrap;
}

.box_des_product {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    overflow: hidden;
    padding: 40px;
    position: relative;
    height: 100%;
}

.detail_product_price p {
    font-size: 2em;
    font-weight: 600;
    color: var(--dark-blue);
}

.option_type {
    margin-bottom: 40px;
    width: 100%;
}

.option_type label, .option_type select {
    display: block;
}

.option_type label {
    margin-bottom: 8px;
    font-size: .8em;
    font-weight: 500;
}

.option_type select {
    border: 1px solid lightgray;
    padding: 12px 24px;
    width: 100%;
    border-radius: 8px;
}

.link_to_detail {
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 100%;
    margin-bottom: 12px;
    font-weight: 500;
}

.price_warranty {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.warranty {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--dark-blue);
}

.box_image_product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title_des h2 {
    font-size: 2em;
    text-transform: uppercase;
    line-height: 2em;
}

.custom-scroll {
    scrollbar-width: none;
}


.custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #888 !important;
    border-radius: 20px;
    border: none;
}

.detail_product_option .option {
    font-size: .8em;
    font-weight: 500;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 8px;
    transition: 0.3s;
    display: block;
    width: fit-content;
    margin: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.detail_product_option {
    flex-wrap: wrap;
}

.detail_product_option .option.active {
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: white;
}

.section_product_detail .price, .section_product_detail .warranty {
    display: none;
    transition: 0.3s;
}

.price.active, .warranty.active {
    display: block;
}

.des_prod {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.item_model {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--dark-blue);
    color: white;
    margin: 4px;
}

.box_item_company {
    padding: 12px;
}

.option_company::after {
    content: "+";
    font-weight: 600;
    color: var(--dark-blue);
    position: absolute;
    top: 12px;
    right: 8px;
}

.option_company {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    position: relative;
    padding: 24px;
    cursor: pointer;
}

#dong-xe {
    position: relative;
}

.pop_model_select {
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.close {
    padding: 8px 12px;
    border: 2px solid var(--dark-blue);
    margin-bottom: 20px;
    display: inline;
    border-radius: 8px;
    cursor: pointer;
}

.pop_model_select_body {
    display: flex;
    flex-wrap: wrap;
}

.card_head {
    display: flex;
    height: 60px;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {

    .option_company::after {
        top: 8px;
    }
    .item_model {
        padding: 8px 12px;
        font-size: .8em;
    }
    
    .pop_model_select {
        top: 5%;
        left: 2%;
        width: 96%;
        height: auto;
        border-radius: 16px;
        padding: 12px;
    }

    .box_item_company {
        padding: 8px;
    }

    .option_company {
        font-size: .8em;
        padding: 8px;
    }

    .box_image_product {
        height: 100%;
        margin-bottom: 12px;
        position: relative;
    }

    .space_sm_m {
        margin-bottom: 12px;
    }

    .main_image {
        height: 100%;
        margin-bottom: 0;
    }

    .option_type select {
        padding: 8px 12px;
    }

    .item_image {
        position: absolute;
        width: 90%;
        bottom: 12px;
        padding: 12px;
        border: 1px solid lightgray;
        left: 5%;
        background-color: #ffffff34;
        height: unset;
    }

    .option_type {
        padding: 0;
    }

    .box_des_product {
        padding: 20px;
    }

    .slide-item {
        width: 40px;
        height: 40px;
        border: 1px solid lightgray;
    }

    .des_prod {
        font-size: .8em;
        -webkit-line-clamp: 2;
        display: none;
    }

    .name_product {
        font-size: 1.2em;
        font-weight: 500;
    }

    .title_des h2 {
        font-size: 1.5em;
    }

    .link_to_detail {
        display: inline;
        padding: 8px 12px;
        width: auto;
        font-size: .6em;
        margin-right: 4px;
    }

    .price_warranty {
        position: unset;
        padding: 0;
    }

    .detail_product_price p {
        font-size: 1em;
    }

    .warranty {
        font-size: .8em;
    }
}