@import url(./variable.css);

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: unset;
}

input:focus {
    outline-color: var(--blue-logo);
}

body {
    background-color: #F5F5F5;
    position: relative;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

a,
button {
    cursor: pointer;
    color: var(--blue-logo);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    margin: 0;
    font-weight: 700;
}

p,
strong,
label,
span,
a,
footer h3 {
    font-family: 'Montserrat';
    margin: 0;
}

a:hover {
    color: var(--dark-blue);
}

footer h3 {
    font-weight: 600;
}

.body_content_detail img {
    max-width: 100% !important;
    object-fit: cover;
}

.body_content_detail ul {
    list-style-type: unset;
}

.body_content_detail h1,
.body_content_detail h2,
.body_content_detail h3,
.body_content_detail h4,
.body_content_detail h5,
.body_content_detail h6 {
    font-family: 'Montserrat';
    font-weight: 500;
}

.body_content_detail h2 {
    font-size: 1.8em;
    margin: 20px 0;
    font-weight: 600;
}

.body_content_detail h3 {
    font-size: 1.5em;
    margin: 16px 0;
}

.body_content_detail h4 {
    font-size: 1.2em;
    margin: 12px 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #115092 0%, #115092 30.63%, #2A5C9F 64.1%, #3C7CB9 100%);
}

.text_logo {
    color: var(--blue-logo);
}

.text_black {
    color: var(--black);
}

.text_dark {
    color: var(--dark-blue);
}

.text_white {
    color: white;
}

.space_sm {
    margin-bottom: 20px;
}

.space_md {
    margin-bottom: 40px;
}

.space_lg {
    margin-bottom: 60px;
}

.space_xl {
    margin-bottom: 80px;
}

.space_bw {
    justify-content: space-between;
}


.section_container {
    padding: 100px 0;
    overflow: hidden;
}

.center_title_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_content .title {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.title_content p {
    font-size: 1.2em;
}

.align_center {
    align-items: center;
}

/* header */
.box_logo_header {
    height: 40px;
}

.box_logo_header img {
    height: 100%;
}

.align_item_center {
    align-items: center;
}

.list_menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header {
    top: 0;
    width: 100vw;
    background-color: transparent;
    height: 80px;
    background: linear-gradient(180deg, rgba(52, 52, 52, 0.43) 0%, rgba(56, 56, 56, 0) 100%);
    z-index: 2;
    position: absolute;
    backdrop-filter: blur(4px);
}

.menu_item {
    font-size: 1em;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.menu_item:hover {
    color: white;
}

.button_search {
    margin-left: 10px;
    cursor: pointer;
}

.search_form {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100vw !important;
    height: 100vh !important;
    background-color: #333;
}

/* title */

#menu_button {
    width: 32px;
    height: 32px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.mobile {
    display: none;
}

.search_box {
    display: flex;
}

.icons_24 {
    width: 24px;
    height: 24px;
}

.icons_16 {
    width: 16px;
    height: 16px;
}

.icons_32 {
    width: 32px;
    height: 32px;
}

.icons img {
    width: 100%;
}

footer {
    background-color: #F5F5F5;
    padding: 80px 0 0 0;
    position: relative;
    text-transform: uppercase;
}

footer h3 {
    font-size: 1.2em;
}

.logo-bct {
    width: 50%;
    margin: 0 30px;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.item_social_footer {
    margin: 0 30px;
    display: flex;
    align-items: center;
    width: 40px;
}

.item_app_footer {
    margin: 0 30px;
}

body .onepage-pagination li a.active:before {
    border-color: #8a8a8a;
    width: 16px;
    height: 16px;
    left: 6px;
}

body .onepage-pagination li {
    margin-bottom: 10px;
}

body .onepage-pagination li a:before {
    width: 8px;
    height: 8px;
    background: #8a8a8a;
}

#close_search {
    position: absolute;
    right: 20px;
    top: 20px
}

.search_box {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding: 0 33%;
}

#search_input {
    width: 100%;
    margin: 0 10px;
    padding: 8px 12px;
    font-size: 1em;
    font-family: 'Montserrat';
    border-radius: 8px;
}

.btn_view_more {
    padding: 12px 24px;
    background-color: white;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1em;
    color: var(--blue-logo);
    text-transform: uppercase;

}

.fp-watermark {
    display: none !important;
}

.call_tmas {
    background-color: #115092;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0px 12px;
    position: fixed;
    right: 12px;
    bottom: 40px;
}

.tag_search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag_item {
    padding: 8px 12px;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    color: #F5F5F5;
    margin: 12px 4px;
    cursor: pointer;
}

.fb_dialog_content iframe {
    bottom: 110px !important;
}

.card_search_result_product {
    overflow: hidden;
    width: 100%;
    height: 120px;
    border: 1px solid white;
    background-color: #f5f5f5;
    border-radius: 8px;
    display: flex;
    padding: 0;
    margin-bottom: 20px;
}

.image_result_product {
    height: 100%;
    width: 120px;
    min-width: 120px;
}

.image_result_product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_content_result_product {
    padding: 20px;
}

.name_result_product h3 {
    font-size: 1em;
    color: var(--dark-blue);
    cursor: pointer;
}

#result_search {
    margin-top: 20px;
    overflow: auto;
    padding: 0 20px;
    height: calc(100vh - 186px);
}

.des_result_product {
    font-size: .8em;
    color: #333;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.des_result_product span {
    color: gray;
}

.price_result_product {
    font-size: 1em;
    color: #333;
}

.price_result_product span {
    font-weight: 600;
    color: var(--dark-blue);
}

.breadcrums {
    padding: 20px 0;
    font-size: 1em;
    color: var(--dark-blue);
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.breadcrums img {
    width: 16px;
    height: 16px;
    margin: 0 10px;
}

.breadcrums a {
    cursor: pointer;
}

.text_breadcrum {
    align-items: center;
}

#page_icon_2 {
    display: none;
}

.call_tmas svg {
    overflow: inherit;
}

.pagination li {
    padding: 8px;
    width: 24px;
    height: 24px;
    margin: 0 12px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.pagination li a {
    color: gray;
}

.pagination li:first-child a::after {
    content: url(./../img/icons/left.svg);
    width: 16px;
    height: 16px;
    top: 0px;
    left: -1px;
    position: absolute;
}

.pagination li:last-child a::after {
    content: url(./../img/icons/right.svg);
    width: 16px;
    height: 16px;
    top: 0px;
    left: 1px;
    position: absolute;
}

.pagination .active {
    color: var(--dark-blue);
}

.popup_application {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 5%;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}

.title_app {
    font-size: 1em;
    font-weight: 500;
}

.hint_app {
    font-size: .8em;
    color: #8a8a8a;
}

.button_download_app button {
    border: 0;
    background-color: var(--dark-blue);
    color: white;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 8px;
}

.close_popup_app {
    border: 1px solid var(--red-logo);
    background-color: white;
    color: var(--red-logo);
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 8px;
}

.box_name_company h2 {
    font-size: 1.5em;
}

@media (min-width: 1400px) {
    .section .container, header .container {
        max-width: 1600px;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        backdrop-filter: unset;
        background: unset;
    }

    .box_logo_header {
        display: none;
    }
    .search_box {
        padding: 0 10px;
    }

    .title_content .title {
        font-size: 2em;
    }

    .list_menu li {
        padding: 10px;
    }

    .list_menu {
        position: absolute;
        top: 0;
        left: 0;
        padding: 80px 40px;
        background-color: #333;
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: 2;
    }

    #close_menu {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .space_sm {
        margin-bottom: 10px;
    }

    .space_md {
        margin-bottom: 20px;
    }

    .space_lg {
        margin-bottom: 40px;
    }

    .space_xl {
        margin-bottom: 60px;
    }

    .mobile {
        display: block;
    }

    .menu_item.mobile {
        display: inline;
    }

    .desktop {
        display: none;
    }
}

@media only screen and (max-width: 480px) {


    .title_content .title {
        margin-bottom: 20px;
    }

    .section_container {
        padding: 40px 20px;
    }

    .title_content .title {
        font-size: 1.5em;
    }

    .space_sm {
        margin-bottom: 5px;
    }

    .space_md {
        margin-bottom: 10px;
    }

    .space_lg {
        margin-bottom: 20px;
    }

    .space_xl {
        margin-bottom: 20px;
    }

    .space_lg {
        margin-bottom: 20px;
    }

    .space_md {
        margin-bottom: 20px;
    }

    .logo_address {
        margin-bottom: 20px;
    }

    .title h3 {
        margin-bottom: 20px;
    }

    .title_content p {
        font-size: 1em;
    }

    .box_name_company h2 {
        font-size: 1em;
    }

    footer h3 {
        font-size: 1em;
    }

    footer a, footer p {
        font-size: 0.8em;
    }

    .item_social_footer, .item_app_footer {
        margin: 0 10px;
    }
}