#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
}

#fp-nav ul li .fp-tooltip {
    font-family: 'Montserrat';
}

@media (max-width: 768px) {
    #fp-nav {
        display: none;
    }
}