@import url(./variable.css);

.banner_image_talent {
    background: url('../img/banner_child_page/bg_log.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_talent {
    background-image: url(../img/homepage/bg_contact.svg);
    background-size: cover;
    background-position: center;
}

.image_talent {
    flex: 0.5;
}

.image_talent img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.content_talent {
    flex: 1;
    color: var(--dark-blue);
    padding: 20px;
}

.card_talent {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 0;
}

.content_talent h3 {
    font-size: 1.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--dark-blue);
    margin-bottom: 12px;
}

.content_talent .content_talent_description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: justify;
    margin-bottom: 12px;
}

.box_talent {
    padding-left: 20px;
}

.image_talent img {
    width: 100%;
}

.image_talent {
    margin-right: 20px;
}

.time_left_talent {
    font-size: .8em;
    text-align: end;
    color: gray;
}

@media only screen and (max-width: 1024px) {
    .box_talent {
        padding-left: 0;
    }
}