@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --blue-logo: #295b9d;
    --dark-blue: #0F2F58;
    --light-blue: #f3faff;
    --white: #ffffff;
    --grey: #9e9e9e;
    --grey-1: #bdbdbd;
    --grey-2: #e0e0e0;
    --grey-3: #f5f5f5;
    --grey-4: #fafafa;
    --red-logo: #E5262B;
    --red: #EE5054;
    --light-green: #9BC84C;
    --green: #149128;
    --orange: #F47A25;
    --black: #333333;
}

@font-face {
    font-family: 'sloganfont';
    src: url('./../font/UTM\ BITSUMISHI\ PRO.TTF'); /* IE9 Compat Modes */
    src: url('./../font/UTM\ BITSUMISHI\ PRO.TTF') format('truetype'), /* IE6-IE8 */
}