.sidebar_title{
    font-size:15px !important;
    font-weight:bold !important;   
}
.content-page{
    background-color:#cccccc57 !important;
}
#basic-datatable_filter, #basic-datatable_length, #basic-datatable_info {
    display:none;
}

#basic-datatable_paginate {
    margin: 5px 0 !important;
}
a:hover {
    color:#02a8b5 !important;
}

label,input[type="file"], textarea.form-control, .ck > p {
    font-size:18px !important;
    color:#000 !important;
}
input[type="text"],select.form-control:not([size]):not([multiple]), input[type="number"], input[type="date"]
{
    height:40px;
    font-size:18px;
    color:#000;
}

input[type="file"], textarea.form-control, .ck > p, input[type="text"],select.form-control:not([size]):not([multiple]), input[type="number"], input[type="date"] {
    border-color:#ccc;
}
.form-select {
    line-height:1.8rem !important;
    font-size: 1.1rem !important;
}
.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color:#ccc !important;
}
label {
    padding: 10px 0 !important;
}

#btnBrown {
    font-size: 18px; 
    width:150px; 
    background-color: #ccc; 
    border-color: #bbbb; 
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left:0;
    height:42px;
    
}
#featured_image {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered { 
    padding:2px !important;
    height: 35px !important;
}

.btnXoaAnh {
    background-color:#fff;
    font-size:25px;
    font-weight:bold;
    color:red;
}



